DATABASE_URL="postgresql://postgres:ioXpTBGDyNjUWtmDHwUxNNKutUtdjkMp@yamabiko.proxy.rlwy.net:28344/railway"

# Configuración SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jujox501@gmail.com
SMTP_PASS="pykv edgu wnjp bczm"